@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print</title>
</head>
<body onload="window.print()">
    <img src="@ViewBag.imgSrc" title="QRCode" width="300" height="300" />
</body>
</html>
