@model Dados.Caminho

@{
    ViewBag.Title = "Delete";
}

<div class="col-xs-5">

    <h2>Caminho</h2>

    <h3>Você tem certeza que quer deletar esse registro?</h3>

    <div class="row">

        <div class="col-lg-6 form-group">
            <label>Início</label>
            <p class="form-control-static">@Model.Totem.Localizacao</p>
        </div>

        <div class="col-lg-6 form-group">
            <label>Vaga</label>
            <p class="form-control-static">
                @string.Format("Andar {0} - Bloco {1} - Vaga {2}",
                           Model.Vaga.Bloco.Andar.Nome,
                           Model.Vaga.Bloco.Nome,
                           Model.Vaga.Nome)
            </p>
        </div>

    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Deletar" class="btn btn-primary">
            
            <button type="button" class="btn btn-primary" 
                onclick="window.location='@Url.Action("Index")';">
                Cancelar
            </button>

        </p>
    }

</div>
